body {
  font-family: 'Athiti', sans-serif;
  font-size: 10px;
  line-height: 10px;
}

.ribbons {
  fill: #ccc;
  fill-opacity: 0.1;
}

#ui {
  background-color: rgba(80,80,80,0.1);
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 30px;
  width: 300px;
  height: 100%;
}
#detail {
  margin: 20px 10px;
  width: 100%;
}
#detail ul {
  padding: 0;
  list-style: none;
}
#detail ul h3 {
  margin-top: 15px;
  margin-bottom: 0px;
}

/* .group-tick line {
  stroke: #000;
}

div.tooltip {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 10px;
  background: whitesmoke;
  border: 0px;
}
div.tooltip table {
  width: 100%;
  table-layout: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}
div.tooltip td {
  padding-top: 0.5em;
} */
