body {
  font: 10px sans-serif;
}

/* .group-tick line {
  stroke: #000;
} */

.ribbons {
  fill: #ccc;
  fill-opacity: 0.1;
}

body {
  font-family: 'Athiti', sans-serif;
  font-size: 10px;
  line-height: 10px;
}

/* div.tooltip {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 10px;
  background: whitesmoke;
  border: 0px;
}
div.tooltip table {
  width: 100%;
  table-layout: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}
div.tooltip td {
  padding-top: 0.5em;
} */
